email relay does not send QUIT to close SMTP connection

When using the email relay option of smtp4dev, the smtp4dev server doesn't properly close the connection with the other SMTP server by sending the `QUIT` command. The communication currently looks like this:

```
S: 220 127.0.0.1
C: EHLO ...
S: 250 127.0.0.1 Hello, pleased to meet you.
C: MAIL FROM:<mail1@test.io>
S: 250 Ok
C: RCPT TO:<mail2@test.io>
S: 250 Ok
C: DATA
S: 354 End data with <CR><LF>.<CR><LF>
C: From: mail1@test.io
Date: Wed, 09 Apr 2025 11:50:17 +0200
Subject: Test mail
Message-Id: <...>
To: mail2@test.io
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

<div>Test email</div>
.
S: 250 Message accepted for delivery

```

According to [RFC-5321 section 4.1.4](https://datatracker.ietf.org/doc/html/rfc5321#section-4.1.4) the client should send the `QUIT` command before closing the connection:

> The last command in a session MUST be the QUIT command. The QUIT command SHOULD be used by the client SMTP to request connection closure, even when no session opening command was sent and accepted.

If I understand the source code correctly, this should be as easy as calling `relaySmtpClient.Quit();` after these lines:
https://github.com/rnwood/smtp4dev/blob/ce462490a7e22c38697d54d8add830900ac89da9/Rnwood.Smtp4dev/Server/Smtp4devServer.cs#L530-L531